{% load static %}
{% load i18n %}

<div class="sidebar">
    <h3>{% trans 'Categories' %}</h3>
    <ul>
        {% for category in categories %}
        <li>
            <a href="{% url 'blog:category' category.url_slug %}">
                {{ category.name }} - {{ category.post_set.count }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <h3>{% trans 'Tags' %}</h3>
    <ul>
        {% for tag in tags %}
        <li>
            <a href="{% url 'blog:tag' tag.url_slug %}">
                {{ tag.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <h3>{% trans 'Archive' %}</h3>
    <ul>
        {% for date in archive_dates %}
        <li>
            <a href="{% url 'blog:archive' date.year date.month %}">
                {{ date|date:"F Y" }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <h3>{% trans 'Search' %}</h3>
    <form method="GET" action="{% url 'blog:index' %}" id="search_form" accept-charset="utf-8">
        <p>
            <input class="search" id="searchbox" type="text" name="q"
            placeholder="{% trans "Enter keywords..." %}" />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;"
                src="{% static 'blog/img/search.png' %}" alt="Search" title="Search" />
        </p>
    </form>
</div>