{% extends "blog/base.html" %}


{% block content %}
{% include "blog/_sidebar.html" %}
<h1>{% block title %}{{ page_title }}{% endblock title %}</h1>
<div id="content">
    {% if posts %}
    {% for post in posts %}
    <h1><a href="{% url 'blog:detail' post.url_slug %}">{{ post.title }}</a></h1>
    <p>
        <a href="{% url 'blog:archive' post.posted_on.year post.posted_on.month %}">
            <span>{{ post.posted_on|date:"N d, Y" }} </span>
        </a>&blacksquare;
        <a href="{% url 'blog:category' post.category.url_slug %}">
            <span>{{ post.category.name }}</span>&nbsp;
        </a>&blacksquare;
        <span>
            {% for tag in post.tags.all %}
            <a href="{% url 'blog:tag' tag.url_slug %}">{{ tag.name }} </a>
            {% endfor %}
        </span>
    </p>
    <div id="post_description">
        <p>
            {{ post.description }}
        </p>
    </div>
    {% endfor %}
    {% else %}
    <p>There are no posts yet!</p>
    {% endif %}
</div>
{% endblock content %}