{% extends "blog/base.html" %}
{% load i18n %}

{% block content %}
{% include "blog/_sidebar.html" %}
<h1>{% block title %}{{ page_title }}{% endblock title %}</h1>
<div id="content">
    {% if posts %}
    {% for post in posts %}
    <h1><a href="{% url 'blog:detail' post.url_slug %}">{{ post.title }}</a></h1>
    <p>
        <span>{{ post.posted_on|date:"N d, Y" }} </span>&bull;
        <a href="{% url 'blog:category' post.category.url_slug %}">
            <span>{{ post.category.name }}</span>&nbsp;
        </a>&bull;
        {% for tag in post.tags.all %}
        <a href="{% url 'blog:tag' tag.url_slug %}">{{ tag.name }} </a>
        {% endfor %}
        &bull;
        <a href="{% url 'blog:detail' post.url_slug %}#disqus_thread">{% trans "Post a comment" %}</a>
    </p>
    <div id="post_description">
        <p>
            {{ post.description }}
        </p>
    </div>
    {% endfor %}
    {% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
            <a href="{% url 'blog:index' %}?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
            {% endif %}
            <span class="page-current">
                {% blocktrans with number=page_obj.number num_pages=page_obj.paginator.num_pages %}
                Page {{ number }} of {{ num_pages }}.
                {% endblocktrans %}
            </span>
            {% if page_obj.has_next %}
            <a href="{% url 'blog:index' %}?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
    {% else %}
    <p>{% trans "There are no posts yet!" %}</p>
    {% endif %}
</div>
{% endblock content %}