{% extends "blog/base.html" %}


{% block content %}
{% include "blog/_sidebar.html" %}
<h1>{% block title %}{{ page_title }}{% endblock title %}</h1>
<div id="content">
    {% if posts %}
    {% for post in posts %}
    <h1><a href="{% url 'blog:detail' post.url_slug %}">{{ post.title }}</a></h1>
    <div id="post_description">
        <p>
            {{ post.description }}
        </p>
    </div>
    {% endfor %}
    {% else %}
    <p>There are no posts yet!</p>
    {% endif %}
</div>
{% endblock content %}